/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */
html {
	scroll-behavior: smooth;
}

.tns-nav {
	text-align: center;
	margin: 10px 0;
	position: absolute;
	z-index: 1;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
}


.tns-nav > [aria-controls] {
	width: 9px;
	height: 9px;
	padding: 0;
	margin: 0 5px;
	border-radius: 50%;
	background: rgba(255,255,255,.5);
	border: 0;
}

.tns-nav > .tns-nav-active {
	background-color: #fff;
}

.tns-outer [aria-controls], .tns-outer [data-action] {
    cursor: pointer;
}

.embeddable-frame {
    height: 20rem;
}

.embeddable-frame iframe {
	width: 100%;
	height: 100%;
}

.comment-truncate {
	@apply
		overflow-hidden;

	max-height: 200px;
	background-image: linear-gradient(to bottom, transparent, transparent, transparent, #f2f2f2);
}

.markdowned {
	@apply
		text-lg
		leading-relaxed;
}

.markdowned p:not(:last-child) {
	@apply
		mb-4;
}

.markdowned a {
	@apply
		text-indigo-600;
}

.markdowned h5,
.markdowned h6 {
	@apply
		border-b
		pb-1
		mb-4
		font-bold;
}

.markdowned h5 {
	@apply
		text-xl;
}

.markdowned h6 {
	@apply
		text-lg;
}

.markdowned ul,
.markdowned ol {
	@apply
		pl-6
		mb-4;
}

.markdowned ul li p,
.markdowned ol li p {
	@apply
		mb-0;
}

.markdowned ul li ul,
.markdowned ul li ol,
.markdowned ol li ul,
.markdowned ol li ol {
	@apply
		mt-4;
}

.markdowned ul li,
.markdowned ol li {
	@apply
		mb-2;
}

.markdowned ul {
	@apply
		list-disc;
}

.markdowned ol {
	@apply
		list-decimal;
}

.markdowned pre,
.markdowned code {
	@apply
		rounded
		p-1;
}

.markdowned pre {
	@apply
		mb-4
		overflow-auto;
}
.markdowned pre code {
	@apply
		border-none
		rounded
		p-6;
}

.markdowned hr {
	@apply
		my-4;
}

.markdowned-mdpost h2,
.markdowned-mdpost h3,
.markdowned-mdpost h4,
.markdowned-mdpost h5,
.markdowned-mdpost h6 {
	@apply font-semibold;
}
.markdowned-mdpost h2 {
	@apply text-3xl font-semibold;
}
.markdowned-mdpost h3 {
	@apply text-2xl;
}
.markdowned-mdpost h4 {
	@apply text-xl;
}
.markdowned-mdpost h5 {
	@apply text-lg;
}
.markdowned-mdpost h6 {
	@apply text-base;
}

.prev, .next {
	@apply
		absolute
		w-10
		h-10
		bg-white
		text-lg
		rounded-full
		opacity-25;

	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-outer:hover .prev,
.carousel-outer:hover .next {
	@apply
		opacity-100;
}

.next {
	left: initial;
	right: 20px;
}

.comment-msg pre {
	@apply
		mt-2
		p-5
		text-white
		bg-indigo-900
		rounded;
}

.nav-active {
	@apply
		text-indigo-600
		font-bold
		border-b-2
		border-indigo-600;
}

.off-canvasify {
	@apply
		fixed
		w-full
		left-0
		top-0
		bg-white
		z-10
		overflow-auto
		hidden;

	height: calc(100% - 55px);
}

.off-canvasify--show {
	@apply
		block;
}

@screen md {
	.container {
		max-width: 680px;
	}
}

@screen lg {
	.container {
		max-width: 980px;
	}

	.off-canvasify {
		@apply
			static
			bg-transparent
			block
			h-auto
			overflow-hidden;
	}

	.sidebar {
		@apply
			block;
	}
}

@screen xl {
	.container {
		max-width: 1180px;
	}
}
@responsive {
	@variants hover {
		.counter {
		  counter-reset: theCounter;
		}

		.counter .counter-item::before {
		  counter-increment: theCounter;
		  content: counter(theCounter);
		}

		.bg-facebook {
		  background-color: #3b5998;
		}

		.bg-twitter {
		  background-color: #00acee;
		}

		.bg-telegram {
		  background-color: #0088cc;
		}

		.bg-whatsapp {
		  background-color: #075e54;
		}

		.bg-instagram {
		  background-color: #5851db;
		}

		.bg-youtube {
		  background-color: #ff0000;
		}

		.bg-dribbble {
		  background-color: #ea4c89;
		}

		.bg-buymeacoffee {
		  background-color: #FFDD00;
		}

		.bg-karyakarsa {
		  background-color: #FF5569;
		}

		.bg-trakteer {
		  background-color: #BE1E2D;
		}

		.min-h-main {
		  min-height: calc(100vh - 142px);
		}

		.bg-gradient {
		  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
		}

		.bg-search {
		  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg fill='%23999' data-name='search'%3E%3Crect width='24' height='24' opacity='0'/%3E%3Cpath d='M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		  background-size: 20px;
		  background-repeat: no-repeat;
		  background-position: 10px center;
		}

		.absolutely-center {
		  left: 50%;
		  transform: translateX(-50%);
		}

		.tooltip {
		  position: relative;
		}

		.tooltip::after {
		  text-transform: initial;
		  letter-spacing: initial;
		  font-weight: initial;
		  display: none;
		  position: absolute;
		  z-index: 10;
		  top: 100%;
		  left: 100%;
		  color: #fff;
		  background-color: #000;
		  border-radius: 5px;
		  padding: 10px;
		  width: 100%;
		  content: attr(data-title);
		}

		.tooltip-lg::after {
		  min-width: 100px;
		}

		.tooltip-top::after {
		  top: -100%;
		}

		.tooltip:hover::after {
		  display: block;
		}

		.custom-checkbox label {
		  display: flex;
		  align-items: center;
		}

		.custom-checkbox input {
		  display: none;
		}

		.custom-checkbox label::before {
		  content: " ";
		  width: 20px;
		  height: 20px;
		  display: inline-block;
		  border: 2px solid theme('colors.gray.200');
		  border-radius: 3px;
		  margin-right: 10px;
		}

		.custom-checkbox input:checked+label::before {
		  backgroundImage: url("data:image/svg+xml,%3Csvg stroke='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='checkmark'%3E%3Crect width='24' height='24' opacity='0'/%3E%3Cpath fill='%23fff' d='M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1 1 0 1 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.73.33z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		  background-color: theme('colors.indigo.500');
		  border-color: theme('colors.indigo.600');
		}

		.custom-checkbox-sm label::before {
		  width: 15px;
		  height: 15px;
		  margin-right: 7px;
		}
	}
}

/* purgecss end ignore */
