/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */
html {
	scroll-behavior: smooth;
}

.tns-nav {
	text-align: center;
	margin: 10px 0;
	position: absolute;
	z-index: 1;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
}


.tns-nav > [aria-controls] {
	width: 9px;
	height: 9px;
	padding: 0;
	margin: 0 5px;
	border-radius: 50%;
	background: rgba(255,255,255,.5);
	border: 0;
}

.tns-nav > .tns-nav-active {
	background-color: #fff;
}

.tns-outer [aria-controls], .tns-outer [data-action] {
    cursor: pointer;
}

.embeddable-frame iframe {
	width: 100%;
}

.comment-truncate {
	@apply
		overflow-hidden;

	max-height: 200px;
	background-image: linear-gradient(to bottom, transparent, transparent, transparent, #f2f2f2);
}

.markdowned {
	@apply
		text-lg
		leading-relaxed;
}

.markdowned p:not(:last-child) {
	@apply
		mb-4;
}

.markdowned a {
	@apply
		text-indigo-600;
}

.markdowned h5,
.markdowned h6 {
	@apply
		border-b
		pb-1
		mb-4
		font-bold;
}

.markdowned h5 {
	@apply
		text-xl;
}

.markdowned h6 {
	@apply
		text-lg;
}

.markdowned ul,
.markdowned ol {
	@apply
		pl-6
		mb-4;
}

.markdowned ul li p,
.markdowned ol li p {
	@apply
		mb-0;
}

.markdowned ul li ul,
.markdowned ul li ol,
.markdowned ol li ul,
.markdowned ol li ol {
	@apply
		mt-4;
}

.markdowned ul li,
.markdowned ol li {
	@apply
		mb-2;
}

.markdowned ul {
	@apply
		list-disc;
}

.markdowned ol {
	@apply
		list-decimal;
}

.markdowned pre,
.markdowned code {
	@apply
		rounded
		p-1;
}

.markdowned pre {
	@apply
		mb-4
		overflow-auto;
}
.markdowned pre code {
	@apply
		border-none
		rounded
		p-6;
}

.markdowned hr {
	@apply
		my-4;
}

.markdowned-mdpost h2,
.markdowned-mdpost h3,
.markdowned-mdpost h4,
.markdowned-mdpost h5,
.markdowned-mdpost h6 {
	@apply font-semibold;
}
.markdowned-mdpost h2 {
	@apply text-3xl font-semibold;
}
.markdowned-mdpost h3 {
	@apply text-2xl;
}
.markdowned-mdpost h4 {
	@apply text-xl;
}
.markdowned-mdpost h5 {
	@apply text-lg;
}
.markdowned-mdpost h6 {
	@apply text-base;
}

.prev, .next {
	@apply
		absolute
		w-10
		h-10
		bg-white
		text-lg
		rounded-full
		opacity-25;

	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-outer:hover .prev,
.carousel-outer:hover .next {
	@apply
		opacity-100;
}

.next {
	left: initial;
	right: 20px;
}

.comment-msg pre {
	@apply
		mt-2
		p-5
		text-white
		bg-indigo-900
		rounded;
}

.nav-active {
	@apply
		text-indigo-600
		font-bold
		border-b-2
		border-indigo-600;
}

.off-canvasify {
	@apply
		fixed
		w-full
		left-0
		top-0
		bg-white
		z-10
		overflow-auto
		hidden;

	height: calc(100% - 55px);
}

.off-canvasify--show {
	@apply
		block;
}

@screen sm {
	.off-canvasify {
		@apply
			static
			bg-transparent
			block
			h-auto
			overflow-hidden;
	}
}

@screen md {
	.container {
		max-width: 680px;
	}
}

@screen lg {
	.container {
		max-width: 980px;
	}

	.sidebar {
		@apply
			block;
	}
}

@screen xl {
	.container {
		max-width: 1180px;
	}
}

/* purgecss end ignore */